
#MainTitle {
    font-family: Georgia, Times, serif;
    font-size: 25px;
    font-style: italic;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

a:hover {
	background-color: royalblue;
}

#SignUp:target {
    display: block;
    grid-area: SignUp;
}

#SignUp {
    display: none;
    padding: 20px;
    grid-area: SignUp;
}

#MainBar{
  color: white;
  /*
  border: 3px solid indigo;
  padding: 10px;
  margin: 10px;*/
  grid-area: header;
}

#search{
  text-align: center;
}


div{
    /*border: 3px solid rgb(4, 248, 53);*/
    gap: 7px;
    padding: 12px;
}

#contacto{
    grid-area: contacto;
}

body{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-areas:
    "header   header header"
    "SignUp SignUp SignUp"
    "books books  books"
    "contacto   contacto contacto";
    gap: 7px;
  padding: 12px;
}



table{
    width: 100%;
}


.contenedor {
    display: flex;
    list-style: none;
    margin: 0;
    background: dodgerblue;
    padding: 0;
  }

  .contenedor li {
    flex: 4 1 0;
  }
/*
.contenedor > #MainTitle {
  flex: 4 0 0;
}
*/
  .contenedor li {
    font: 14px sans-serif;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 9px;
    color: white;
    user-select: none;
  }
  
  .contenedor a {
    font: 14px sans-serif;
    text-align: center;
    line-height: 100px; 
    text-decoration: none;
    display: block;
    padding: 9px;
    color: rgb(255, 255, 255);
    user-select: none;
  }
  .contenedor li:hover {
    background: royalblue;
  }
  